<form (ngSubmit)="onSubmit()" #form="ngForm">
  <!-- NgForm to cast the template ref -->
  <div>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" [ngModel]="nameDefaultValue" required #name="ngModel">
    <!-- We can also use ngModel -->
    <span *ngIf="name.invalid && name.touched">Name is invalid</span>
  </div>
  <div>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" [(ngModel)]="emailValue" required email #email="ngModel">
    <span *ngIf="email.invalid && email.touched">Email is invalid</span>
    {{ emailValue }}
  </div>
  <input type="submit" value="submit" [disabled]="form.invalid">
  <button (click)="setValues()">setvalues</button>
  <button (click)="reset()">Reset</button>
</form>